/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* End Of Reset */








body {
    background:#eee;
    
    width: 100%;
    
    max-width: 960px;
    
    margin: 0 auto;
}

nav {
    width:100%;
    
    margin:1rem 0px 2rem 0;
    
    overflow: hidden;
    
}

a {
    color:white;
    text-decoration: none;
}


nav ul {
    width:100%;
    
    list-style: none;
    
    margin: 0;
    
    padding: 0;
}

nav ul li {
    width: 33.33%; 
    
    float:left;
    
    text-decoration: none;
    
       
}

nav ul li a {
    text-align: center;
    
    display: block;

    width: 100%; 
    
    padding: 10px 0px 10px 0px;
    
    font-family: 'Ruda', sans-serif;
    
    background: #000;
    
    
    
}

nav ul li a:hover {
    background: grey;
    
}

nav ul li a:active {
  color: grey;

  text-decoration: none; 
}

nav ul li:first-child a {
  border-top-left-radius: 8px;

  border-bottom-left-radius: 8px;

}

nav ul li:last-child a {
  border-top-right-radius: 8px;

  border-bottom-right-radius: 8px;

}


h1{
    margin:20px;
    text-align: center;
    font-family: 'Ruda', sans-serif;   
    font-size: 2rem;
}

a {
    
}

h2{
    font-family: 'Ruda', sans-serif;
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 1.15rem;
}
 
h3{
    
}

img{
    display:inline;
    align-content:;
    max-height:100%;
    max-width: 100%;
    overflow: hidden;
}


.housing{
    background:#fff;
    width:;
    border: 2px solid #000;
    padding:;
    margin:10px;
    display: block;
    position: relative;
    max-height: 250px;
    

}

.Review{
    width: 55%;
    display: inline-block;
    text-align: center;
    margin:5%;
   
}

.image {
    height:;
    width:30%;
    display:inline-block;
    float:;
    overflow: hidden;
    margin-right:5%;
    position: absolute;
}

/* this is for the Article page*/

.Article {
    width: 75%; 
    height: 100px;
    background: white;
    border: solid 2.5px black;
    float: left;
    display: block;
    margin-bottom: 1.5rem;
}

.bar {
    width:20%;
    height: 400px;
    background: white;
    float:right;
    border: solid 2.5px black;
}